/* Modal-konsul honorowy*/
  /* modul 1, Konsul Honorowy Gruzji w Polsce */
  .modal1 {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	padding-bottom: 100px;
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	font-family: roboto condensed;
  }
  
  /* Modal Content */
  .modal-content1 {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 70%;
	height: flex;
	text-align: left;
	word-break: break-word;
  }
  
  /* The Close Button */
  .close1 {
	color: #faf9f9;
	float: right;
	position: fixed;
    right: 4%;
	font-size: 70px;
	font-weight: bold;
	
  }
  
  .close1:hover,
  .close1:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }

  /* modul 2, misja konsulatu */
.modal2 {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	padding-bottom: 100px;  /* distance from the bottom */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	font-family: roboto condensed;
  }
  
  /* Modal Content */
  .modal-content2 {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 70%;
	height: flex;
	text-align: left;
	word-break: break-word;
  }
  
  /* The Close Button */
  .close2 {
	color: #faf9f9;
	float: right;
	position: fixed;
    right: 4%;
	font-size: 70px;
	font-weight: bold;
  }
  
  .close2:hover,
  .close2:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }
  

/* modul 3, Historia Gruzji */
.modal3 {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	padding-bottom: 100px;
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	font-family: roboto condensed;
  }
  
  /* Modal Content */
  .modal-content3 {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 70%;
	height: flex;
	text-align: left;
	word-break: break-word;
  }
  
  /* The Close Button */
  .close3 {
	color: #faf9f9;
	float: right;
	position: fixed;
    right: 4%;
	font-size: 70px;
	font-weight: bold;
  }
  
  .close3:hover,
  .close3:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }

  /* modul 4, Podróżuj w Gruzji */
.modal4 {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	padding-bottom: 100px;
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	font-family: roboto condensed;
  }
  
  /* Modal Content */
  .modal-content4 {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 70%;
	height: flex;
	text-align: left;
	word-break: break-word;
	font-family: roboto condensed;
  }
  
  /* The Close Button */
  .close4 {
	color: #faf9f9;
	float: right;
	position: fixed;
    right: 4%;
	font-size: 70px;
	font-weight: bold;
  }
  
  .close4:hover,
  .close4:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }

   /* modul 5,*/
.modal5 {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	padding-bottom: 100px;
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	font-family: roboto condensed;
  }
  
  /* Modal Content */
  .modal-content5 {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 70%;
	height: flex;
	text-align: left;
	word-break: break-word;

  }
  
  /* The Close Button */
  .close5 {
	color: #faf9f9;
	float: right;
	position: fixed;
    right: 4%;
	font-size: 70px;
	font-weight: bold;
  }
  
  .close5:hover,
  .close5:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }

   /* modul 6 */
.modal6 {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	padding-bottom: 100px;
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	font-family: roboto condensed;
  }
  
  /* Modal Content */
  .modal-content6 {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 70%;
	height: flex;
	text-align: left;
	word-break: break-word;
  }
  
  /* The Close Button */
  .close6 {
	color: #faf9f9;
	float: right;
	position: fixed;
    right: 4%;
	font-size: 70px;
	font-weight: bold;
  }
  
  .close6:hover,
  .close6:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }

   /* modul 7 */
.modal7 {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	padding-bottom: 100px;
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	font-family: roboto condensed;
  }
  
  /* Modal Content */
  .modal-content7 {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 70%;
	height: flex;
	text-align: left;
	word-break: break-word;
  }
  
  /* The Close Button */
  .close7 {
	color: #faf9f9;
	float: right;
	position: fixed;
    right: 4%;
	font-size: 70px;
	font-weight: bold;
  }
  
  .close7:hover,
  .close7:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }

   /* modul 8 */
.modal8 {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	padding-bottom: 100px;
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	font-family: roboto condensed;
  }
  
  /* Modal Content */
  .modal-content8 {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 70%;
	height: flex;
	text-align: left;
	word-break: break-word;
  }
  
  /* The Close Button */
  .close8 {
	color: #faf9f9;
	float: right;
	position: fixed;
    right: 4%;
	font-size: 70px;
	font-weight: bold;
  }
  
  .close8:hover,
  .close8:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }


 
  

  .satauri {
   text-align: center;
   font-weight: bold;
   font-family: roboto condensed;
  }
  .text {
	 padding: 10px; 
	 margin: 50px;
	
  }

  .popup-header {
	  background-image: url(../img/Historia1.jpg);
	  width: 100%;
	  height: 300px;
	  margin-bottom: 30px;
	  background-position: center;
	  background-repeat: no-repeat;
	  background-attachment: scroll;
	  background-size: cover;
  }